.desktop-dash-prescout-team-maincontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: var(--clr-surface-a0);
    flex-direction: column;
    overflow-y: scroll;
}

.desktop-dash-prescout-team-backbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--clr-surface-a0);
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.1s ease;
    position: absolute;
    top: 20px;
    left: 20px;
}

.desktop-dash-prescout-team-backbutton:hover {
    cursor: pointer;
    background-color: var(--clr-surface-a10);
}

.desktop-dash-prescout-team-backbutton:active {
    transform: scale(0.9);
}

.desktop-dash-prescout-team-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 10px;
    width: 60%;
    text-align: center;
    user-select: none;
    border-bottom: 3px solid var(--black);
}

.desktop-dash-prescout-team-questioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    text-align: center;
}

.desktop-dash-prescout-team-question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

.desktop-dash-prescout-team-question p {
    font-size: 1.2rem;
    font-weight: 400;
}

.desktop-dash-prescout-team-sectioncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    margin-bottom: 40px;
}
.desktop-dash-prescout-team-sectioncontainer hr {
    width: 100%;
    margin-top: -10px;
}

.desktop-dash-prescout-team-lncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 2px;
}

.desktop-dash-prescout-team-lncontainer textarea,
.desktop-dash-prescout-team-lncontainer input {
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 10px;
    width: 80%;
    font-size: 1rem;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.desktop-dash-prescout-team-checkbox {
    accent-color: var(--clr-surface-a10);
    background-color: var(--clr-surface-a10);
    width: 1.5rem;
    height: 1.5rem;
}

.desktop-dash-prescout-team-numinput {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
}

.desktop-dash-prescout-team-mccontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 10px;
}

.desktop-dash-prescout-team-mccontainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.desktop-dash-prescout-team-mccontainer input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--clr-surface-a10);
}

.desktop-dash-prescout-team-range {
    padding: 30px 0px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 90%;
    margin: 0px;
}

.desktop-dash-prescout-team-range .rc-slider-track {
    background-color: var(--clr-surface-a30);
}

.desktop-dash-prescout-team-range .rc-slider-rail {
    background-color: var(--clr-surface-a10);
}

.desktop-dash-prescout-team-range .rc-slider-handle {
    background-color: var(--clr-surface-a20);
    border-color: var(--black);
    width: 22px;
    height: 22px;
    margin-top: -8px;
}

.desktop-dash-prescout-team-range .rc-slider-handle:active,
.desktop-dash-prescout-team-range .rc-slider-handle:focus {
    box-shadow: none !important;
}
