.desktop-warningpopup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 501;
    width: 30vw;
    height: 25vh;
    position: fixed;
    inset: 0;
    margin: auto;
    background-color: var(--clr-surface-a10);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 0px;
    border: 1px solid var(--clr-surface-tonal-a10);
}

.desktop-warningpopup * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.desktop-warningpopup > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.desktop-warningpopup:not(#avoidwarningpopupheight) > div {
    height: 25%;
}

.desktop-warningpopup > div > button {
    height: 100%;
    width: 35%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    transition:
        background-color,
        transform 0.1s ease-in-out;
}

.desktop-warningpopup-cancel {
    background-color: var(--clr-danger-a0);
    transition:
        background-color,
        transform 0.1s ease-in-out;
}

.desktop-warningpopup-continue {
    background-color: var(--clr-success-a0);
    transition:
        background-color,
        transform 0.1s ease-in-out;
}

.desktop-warningpopup-cancel:hover {
    background-color: var(--clr-danger-a10);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.desktop-warningpopup-continue:hover {
    background-color: var(--clr-success-a10);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.desktop-warningpopup-cancel:active {
    background-color: var(--clr-danger-a10);
    transform: scale(0.98);
}

.desktop-warningpopup-continue:active {
    background-color: var(--clr-success-a10);
    transform: scale(0.98);
}

.desktop-warningpopup-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.desktop-warningpopup-message {
    text-align: center;
    font-size: 1rem;
}

.desktop-popupinput-parentcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start !important;
    width: 100%;
    flex-direction: row;
}

.desktop-popupinput-childcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    font-size: 1rem;
}

.desktop-popupinput-childcontainer p {
    font-size: 1rem;
    color: var(--black);
}

.desktop-popupinput-childcontainer input {
    padding: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 90%;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid var(--clr-surface-tonal-a10);
    background-color: var(--white);
}

.desktop-popupinput-childcontainer > div {
    font-size: 0.7rem;
    font-weight: bolder;
    margin: 0px;
    margin-top: 2px;
    width: 90%;
    text-align: right;
}

.desktop-popupinput-maxedinput {
    border: 1px solid red !important;
    transition: box-shadow outline 5s;
}

.desktop-popupinput-maxedinput:focus {
    outline: 2px solid red !important;
    outline-offset: 2px;
    box-shadow: 0 0 16px rgba(220, 53, 69, 0.5);
}

.desktop-popupinput-highlightedbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column !important;
    background-color: var(--clr-surface-a20);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 1px solid var(--clr-surface-tonal-a10);
    width: 100%;
}

.desktop-popup-prescoutdropdownbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    box-sizing: border-box;
    margin: 0px;
    transition: transform 0.1s ease-in-out;
}

.desktop-popup-prescoutdropdownbutton:hover {
    background-color: var(--clr-surface-a0);
    cursor: pointer;
}

.desktop-popup-prescoutdropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 5px;
    z-index: 501;
    flex-direction: column;
}

.desktop-popup-prescoutdropdown div {
    border: 1px solid var(--clr-surface-tonal-a10);
    width: 100%;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.desktop-popup-prescoutdropdown div:hover {
    background-color: var(--clr-surface-a20);
    cursor: pointer;
}

.desktop-popup-prescoutdropdown div:active {
    background-color: var(--clr-surface-a30);
    cursor: pointer;
}
