.desktop-dash-comp-infodisplay-matchtable {
    width: 95%;
    border: 1px solid var(--clr-surface-tonal-a10);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 80%;
    overflow-y: auto;
}

.desktop-dash-comp-infodisplay-matchtable-row {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    transition: filter 0.1s;
}

.desktop-dash-comp-infodisplay-matchtable-row > div {
    padding: 2px 0px;
}

.desktop-dash-comp-infodisplay-matchtable-column1 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-right: 1px solid var(--clr-surface-tonal-a10);
    background-color: var(--clr-surface-a0);
    font-size: 1rem;
}

.desktop-dash-comp-infodisplay-matchtable-row:not(:last-child) {
    border-bottom: 1px solid var(--clr-surface-tonal-a10);
}

.desktop-dash-comp-infodisplay-matchtable-column2345header {
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.desktop-dash-comp-infodisplay-matchtable-column2345header:not(:last-child),
.desktop-dash-comp-infodisplay-matchtable-column23:not(:last-child),
.desktop-dash-comp-infodisplay-matchtable-column45:not(:last-child) {
    border-right: 1px solid var(--clr-surface-tonal-a10);
}

.desktop-dash-comp-infodisplay-matchtable-column23,
.desktop-dash-comp-infodisplay-matchtable-column45 {
    box-sizing: border-box;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.desktop-dash-comp-infodisplay-matchtable-column23 {
    background-color: var(--clr-red-alliance);
}

.desktop-dash-comp-infodisplay-matchtable-column45 {
    background-color: var(--clr-blue-alliance);
}

.desktop-dash-comp-infodisplay-matchtable-row:nth-child(odd) > div {
    filter: brightness(0.93);
}

.desktop-dash-comp-infodisplay-matchtable-row:nth-child(odd)
    > .desktop-dash-comp-infodisplay-matchtable-column1 {
    background-color: var(--clr-surface-a10);
}

.desktop-dash-comp-infodisplay-matchtable-row:not(
        :has(> .desktop-dash-comp-infodisplay-matchtable-column2345header)
    ):hover {
    filter: brightness(0.96);
    cursor: pointer;
}

.desktop-dash-comp-infodisplay-matchtable-row:not(
        :has(> .desktop-dash-comp-infodisplay-matchtable-column2345header)
    ):active {
    filter: brightness(0.94);
    cursor: pointer;
}

.desktop-dash-comp-infodisplay-greenbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 35%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    background-color: var(--clr-success-a0);
    transition:
        background-color,
        transform 0.1s ease-in-out;
}

.desktop-dash-comp-infodisplay-greenbutton:hover {
    background-color: var(--clr-success-a10);
    cursor: pointer;
}

.desktop-dash-comp-infodisplay-greenbutton:active {
    background-color: var(--clr-success-a10);
    transform: scale(0.98);
}
