:root {
    /* Base Colors */
    --clr-custom-a0: #f8f8ff;
    --clr-custom-a10: #eb0000;
    --clr-custom-a20: #90143c;
    --clr-custom-a30: #3300fc;
    --clr-custom-a40: #1b2eaa;

    /* Text Colors */
    --text-color-light: #e3e3e3;
    --text-color-dark: #070700;

    /* Dark Mode Compatability */
    --white: #fff;
    --black: #000;

    /* Dashboard Colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #eb0000;
    --clr-primary-a10: #cc3600;
    --clr-primary-a20: #ae2d00;
    --clr-primary-a30: #912400;
    --clr-primary-a40: #751b00;
    --clr-primary-a50: #5b1300;

    /** Theme surface colors */
    --clr-surface-a0: #f8f8ff;
    --clr-surface-a10: #ebebf2;
    --clr-surface-a20: #dfdfe4;
    --clr-surface-a30: #d3d3d7;
    --clr-surface-a40: #c6c6ca;
    --clr-surface-a50: #bababe;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #fae8e9;
    --clr-surface-tonal-a10: #edddde;
    --clr-surface-tonal-a20: #e0d2d3;
    --clr-surface-tonal-a30: #d4c8c8;
    --clr-surface-tonal-a40: #c8bdbe;
    --clr-surface-tonal-a50: #bbb3b3;

    /** Success colors */
    --clr-success-a0: #4aff6b;
    --clr-success-a10: #74ff86;
    --clr-success-a20: #94ff9d;

    /** Warning colors */
    --clr-warning-a0: #ffac38;
    --clr-warning-a10: #ffb961;
    --clr-warning-a20: #ffc681;

    /** Danger colors */
    --clr-danger-a0: #ff6161;
    --clr-danger-a10: #ff7c79;
    --clr-danger-a20: #ff9590;

    /** Info colors */
    --clr-info-a0: #61c2ff;
    --clr-info-a10: #7dccff;
    --clr-info-a20: #96d5ff;

    /** FTC related colors*/
    --clr-red-alliance: #f7bcb7;
    --clr-blue-alliance: #b7dcfa;
}

body,
html {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-surface-a0);
}

@font-face {
    font-family: "RethinkSans";
    src: url("../fonts/RethinkSans.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "RethinkSans";
    scrollbar-color: var(--clr-surface-a50) var(--clr-surface-a10);
    scrollbar-width: thin;
    transition:
        color 0.15s,
        background-color 0.15s,
        border-color 0.15s;
}

*:not(path):not(svg) {
    color: var(--black);
}

.Toastify__toast-icon,
.Toastify--animate-icon,
.Toastify__zoom-enter {
    color: unset;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--clr-surface-a10);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--clr-surface-a50);
    border-radius: 4px;
    border: 2px solid var(--clr-surface-a10);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #718096;
}

.nav-language-dropdown div {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.nav-language-dropdown div::-webkit-scrollbar {
    width: 4px;
}

.nav-language-dropdown div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.nav-language-dropdown div::-webkit-scrollbar-track {
    background: transparent;
}

.nav-language-dropdown * {
    text-decoration: none !important;
}

.rowcontainer-fillrest {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}

.halfcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.centerdiv-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.fullpage {
    width: 100%;
    height: 100vh;
}

.image85 {
    width: 85%;
    height: auto;
}

.image35 {
    width: 35%;
    height: auto;
}

.blocker499 {
    width: 100vw;
    height: 100vh;
    background-color: "rgba(0, 0, 0, 0.2)";
    z-index: 499;
    position: absolute;
    backdrop-filter: blur(5px);
}

.notetext {
    font-size: 0.75rem;
    font-style: italic;
    color: var(--clr-surface-a50);
    text-align: center;
}
