:root {
    /* Base Colors */
    --clr-custom-a0: #f8f8ff;
    --clr-custom-a10: #eb0000;
    --clr-custom-a20: #90143c;
    --clr-custom-a30: #3300fc;
    --clr-custom-a40: #1b2eaa;

    /* Text Colors */
    --text-color-light: #e3e3e3;
    --text-color-dark: #070700;

    /* Dashboard Colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #90143c;
    --clr-primary-a10: #7f1636;
    --clr-primary-a20: #6f1730;
    --clr-primary-a30: #5f172a;
    --clr-primary-a40: #501624;
    --clr-primary-a50: #41141e;

    /** Theme surface colors */
    --clr-surface-a0: #f8f8ff;
    --clr-surface-a10: #eaeaf0;
    --clr-surface-a20: #dcdce1;
    --clr-surface-a30: #ceced3;
    --clr-surface-a40: #c1c1c5;
    --clr-surface-a50: #b4b4b6;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #f0e2e9;
    --clr-surface-tonal-a10: #e3d7dd;
    --clr-surface-tonal-a20: #d6cbd1;
    --clr-surface-tonal-a30: #c9c0c5;
    --clr-surface-tonal-a40: #bdb5b9;
    --clr-surface-tonal-a50: #b0aaad;

    /** Success colors */
    --clr-success-a0: #1b7f5c;
    --clr-success-a10: #28be8a;
    --clr-success-a20: #58dbad;

    /** Warning colors */
    --clr-warning-a0: #b8871f;
    --clr-warning-a10: #dfae44;
    --clr-warning-a20: #ebca85;

    /** Danger colors */
    --clr-danger-a0: #b13535;
    --clr-danger-a10: #d06262;
    --clr-danger-a20: #e29d9d;

    /** Info colors */
    --clr-info-a0: #1e56a3;
    --clr-info-a10: #347ada;
    --clr-info-a20: #74a4e6;
}

body,
html {
    min-width: 100vw;
    min-height: 100vh;
}

@font-face {
    font-family: "RethinkSans";
    src: url("../fonts/RethinkSans.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "RethinkSans";
}

.nav-language-dropdown div {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.nav-language-dropdown div::-webkit-scrollbar {
    width: 4px;
}

.nav-language-dropdown div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.nav-language-dropdown div::-webkit-scrollbar-track {
    background: transparent;
}

.nav-language-dropdown * {
    text-decoration: none !important;
}

.rowcontainer-fillrest {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}

.halfcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
